<%= form_for(@emptyphoto) do |f| %>
    <div class="row actions">
      <div class="col-md-10 col-md-offset-1">
        <%= f.select(:start, @emptyphoto.starts) %>
        <%= f.text_field(:text, :placeholder => ' kirjoita oma syysi', :maxlength => 52) %>
        <%= f.submit 'Luo kuva!' %>
        <br/>
        <br/>
      </div>
    </div>
<% end %>
