<%= render 'pages/form' %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center center">
    <a href='<%= @photo.url %>' download><img src='<%= @photo.url %>'/></a>
    <br/>
    Klikkaa kuvaa ladataksesi tiedosto tietokoneellesi.
    <br/>
  </div>
</div>