<div id="footer">
  <div class="container">
    <div class="row footer-first-row">
      <div class="col-xs-12 text-center">
        <p><small>
          Tekninen toteutus: <%= link_to "jannewaren.fi", "http://www.jannewaren.fi" %>
          <br/>
          Toukon kuva: Laura Piiroinen
          <br/>
        </small></p>
      </div>
    </div>
  </div>
</div>
